.video-player-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

.video-element {
    max-width: 100%;
    max-height: 100%;
}

.video-placeholder {
    color: #666;
    font-size: 1.2rem;
}